@using Carnotaurus.GhostPubsMvc.Common.Extensions
@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = string.Format("Haunted pubs in {0}", Model.JumboTitle);
    ViewBag.Link = "http://www.ghostpubs.com/haunted-pubs/uk.html";
    ViewBag.MetaDescription = Model.MetaDescription;
    ViewBag.ArticleDescription = Model.ArticleDescription;

    ViewBag.Tag = Model.Tag;
    ViewBag.Tags = Model.Tags;
}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>@Model.JumboTitle</h1>
            <p class="lead">
                @Model.ArticleDescription
            </p>
        </div>
    </div>
</header>

<div class="container">

    <!-- Docs nav
        ================================================== -->
    <div class="row">

        <a href="/" title="Home">Home</a>

        <span>&gt;&nbsp;</span>
        <span>@Model.JumboTitle</span>
    </div>
    <div class="row"><p>&nbsp;</p></div>
    <div class="row">
        <div class="span4 bs-docs-sidebar text-center">
            <div>
                <div>
                    @*<a href="/haunted-pubs/uk.html">*@
                    <img width='200' height='200' onclick=" window.open('http://www.ghostpubs.com/haunted-pubs/uk.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />
                    @*</a>*@
                </div>

                <div class="btn-group btn-group-vertical">
                    @foreach (var link in Model.PageLinks)
                    {
                        <a class="btn btn-large btn-primary pagelink" title='@link.Title' href='@link.Url'>@link.Text</a>
                    }
                </div>
            </div>
        </div>

        <div class="span8">

            <!-- Carousel
                ================================================== -->
            <section id="carousel">
                <div class="page-header">
                    <h2>@Model.JumboTitle</h2>
                </div>
                <h2>Let's journey through our haunted locations</h2>
                <p>Please select from a haunted region from the following list:</p>
                <ul>
                    @foreach (var link in Model.PageLinks)
                    {
                        if (link.Total == 0)
                        {
                            <li>
                                <a rel="nofollow" title='@link.Title' href='@link.Url'>@link.Text</a>
                            </li>
                        }
                        else if (link.Total == 1)
                        {
                            <li>
                                <a rel="nofollow" title='@link.Title' href='@link.Url'>@link.Text</a> <span class="label label-info">@link.TotalInWords haunted pub</span>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a rel="nofollow" title='@link.Title' href='@link.Url'>@link.Text</a> <span class="label label-info">@link.TotalInWords haunted pubs</span>
                            </li>
                        }
                    }
                </ul>

                <div id="fb-root"></div>

                <div class="fb-like" data-href="@ViewBag.Link" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

                <hr class="bs-docs-separator">
            </section>
        </div>
    </div>


</div>
