@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = string.Format("Haunted pubs in {0}, {1}", Model.JumboTitle, Model.Lineage.Authority.Text);
    ViewBag.Link = Model.Lineage.Locality != null ? Model.Lineage.Locality.Url : Model.Lineage.Authority.Url;
    ViewBag.MetaDescription = Model.MetaDescription;
    ViewBag.ArticleDescription = Model.ArticleDescription;
    ViewBag.Tag = Model.Tag;
    ViewBag.Tags = Model.Tags;
}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>Haunted pubs in the locality of @Model.JumboTitle</h1>
            <p class="lead">
                @Model.MetaDescription
            </p>
        </div>
    </div>
</header>

<div class="container">

    <!-- Docs nav
        ================================================== -->
    <div class="row">

        <a href="/" title="Home">Home</a>

        <span>&gt;</span>
        <a href="/haunted-pubs/uk.html" title="Regions">Regions</a>

        @if (Model.Lineage.Region != null)
        {
            <span>&gt;</span>
            <a href="@Model.Lineage.Region.Url" title="@Model.Lineage.Region.Title">@Model.Lineage.Region.Text</a>
        }

        @if (Model.Lineage.Authority != null)
        {
            <span>&gt;</span>
            <a href="@Model.Lineage.Authority.Url" title="@Model.Lineage.Authority.Title">@Model.Lineage.Authority.Text</a>
        }

        @if (Model.Lineage.Locality != null)
        {
            <span>&gt;&nbsp;</span>
            <span>@Model.Lineage.Locality.Text</span>
        }

    </div>
    <div class="row"><p>&nbsp;</p></div>
    <div class="row">
        <div class="span4 bs-docs-sidebar text-center">
            <div>
                <div>
                    <img width='200' height='200' onclick=" window.open('http://www.ghostpubs.com/haunted-pubs/uk.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />
                </div>

                <div class="btn-group btn-group-vertical">
                    @foreach (var link in Model.PageLinks)
                    {
                        <a class="btn btn-large btn-primary pagelink" title='@link.Title' href='@link.Url'>@link.Text</a>
                    }
                </div>
            </div>
        </div>

        <div class="span8">

            <!-- Carousel
                ================================================== -->
            <section id="carousel">
                <div class="page-header">
                    <h2>@Model.JumboTitle <span class="label label-info">@Model.TotalInWords haunted pubs</span></h2>
                </div>
                <h3>Let's journey through our haunted locations</h3>
                <p>Please select from a haunted pub from the following list:</p>
                <ul>
                    @foreach (var link in Model.PageLinks)
                    {
                        if (link.Total == 0)
                        {
                            <li>
                                <a rel="nofollow" title='@link.Title' href='@link.Url'>@link.Text</a>
                            </li>
                        }
                        else if (link.Total == 1)
                        {
                            <li>
                                <a rel="nofollow" title='@link.Title' href='@link.Url'>@link.Text</a> <span class="label label-info">@link.TotalInWords haunted pub</span>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a rel="nofollow" title='@link.Title' href='@link.Url'>@link.Text</a> <span class="label label-info">@link.TotalInWords haunted pubs</span>
                            </li>
                        }
                    }
                </ul>

                @if (Model.Next != null)
                {
                    <p>
                        <a href='@Model.Next.Url' title="Next to @Model.Next.Title">Next to @Model.Next.Title</a> |
                        <a href='@Model.Lineage.Authority.Url' title="Back to @Model.Lineage.Authority.Text">Back to @Model.Lineage.Authority.Text</a>
                    </p>
                }


                <div id="fb-root"></div>

                <div class="fb-comments" data-href="@ViewBag.Link" data-numposts="5" data-colorscheme="dark"></div>


                <div class="fb-like" data-href="@ViewBag.Link" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

                <hr class="bs-docs-separator">
            </section>
        </div>
    </div>
</div>
