@using Carnotaurus.GhostPubsMvc.Common.Extensions
@using Humanizer
@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.JumboTitle;
    ViewBag.MetaDescription = Model.MetaDescription;
    ViewBag.ArticleDescription = Model.ArticleDescription;
}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>Wellcome to our @Model.JumboTitle</h1>
            <p class="lead">
                @Model.ArticleDescription
            </p>
        </div>
    </div>
</header>

<div class="container">

    <!-- Docs nav
        ================================================== -->
    <div class="row">

        <a href="/" title="Home">Home</a>

        <span>&gt;&nbsp;</span>
        <span>@Model.JumboTitle</span>

    </div>
    <div class="row">
        <div class="span12 bs-docs-sidebar text-center">
            <div>
                <div>
                    <img width='200' height='200' onclick=" window.open('http://www.ghostpubs.com/haunted-pubs/uk.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />
                </div>

                <div class="btn-group btn-group-vertical">

                    <div class="fb-like" data-href="@ViewBag.Link" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

                    <p>&nbsp;</p>

                    <div>
                        @foreach (var link in Model.PageLinks)
                        {

                            if (link.Total == 0)
                            {
                                <div>
                                    <a class="btn btn-large btn-primary pagelink" title='@link.Title' href='@link.Url'>@link.Text</a>
                                </div>
                            }
                            else if (link.Total == 1)
                            {
                                <div>
                                    <a class="btn btn-large btn-primary pagelink" title='@link.Title' href='@link.Url'>@link.Text</a> <span class="label label-info">@link.TotalInWords haunted pub</span>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <a class="btn btn-large btn-primary pagelink" title='@link.Title' href='@link.Url'>@link.Text</a> <span class="label label-info">@link.TotalInWords haunted pubs</span>
                                </div>
                            }
                            foreach (var page in link.Links)
                            {
                                <div>

                                    <a class="btn btn-small btn-info pagelink" title='@page.Title' href='@page.Url'>@page.Text</a>
                                    &nbsp;
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
